* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: bolder;
    color: white;
    background-color: black;
    text-align: center;
    height: 80px;
}
form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 30%;
    padding-top: 2em;
}
input {
    padding: 10px 0;
    margin: 10px;
    border-radius: 10px ;
    border : 2px solid rgb(123, 123, 194) ;
}
.submit {
    background-color: rgb(7, 183, 214);
}
.reset {
    background-color: rgb(226, 21, 21);
}
